@font-face {
    font-family: Bebas;
    src: url('fonts/BebasNeue-Regular.otf');
}

body{
   text-align: center;
   font-family:"Bebas",sans-serif;
}
.header{
   height:250px;
   margin-bottom:30px;
}
.header img{
   height:250px;
   position:absolute;
   margin: 0 auto;
   right:0;
   left:0;
   padding:20px;
}
li{
   list-style-type:none;
   margin: 45px 0;
}
li.active{
   color:#b38742;
}

.bar{
   font-size: 1.7em;
   line-height:1.5em;
}
.date{font-size: 1.3em;}
.nh{font-size:1em}
